[Match]
Name=eth0
{% 	set ns = namespace(ip_range=rpi_host_start) -%}

{% for host in groups['k3s_rpi'] %}
{% if inventory_hostname == host -%}
{% 	set ns.ip_range = rpi_host_start + (loop.index - 1) -%}
{% endif %}
{% endfor %}

[Network]
Address={{ net_spec }}.{{ ns.ip_range }}/24
Gateway={{ net_spec }}.1
DNS={{ dns_primary }}
DNS={{ dns_secondary }}
